<div class="teñidos">
    <div class="teñidos__container">
        <app-card [image]="'images/teñido.jpg'" [title]="'Teñido Rojo'" ></app-card>
        <app-card [image]="'images/teñido.jpg'" [title]="'Teñido Rojo'" ></app-card>
        <app-card [image]="'images/teñido.jpg'" [title]="'Teñido Rojo'" ></app-card>
        <app-card [image]="'images/teñido.jpg'" [title]="'Teñido Rojo'" ></app-card>
        <app-card [image]="'images/teñido.jpg'" [title]="'Teñido Rojo'" ></app-card>
    </div>
</div>