<div class="card">
    <div class="card__container" [class.card__container--product]="is_product">
        <div class="card__conatinerImg" >
            <img class="card__img" src="{{image}}"  alt="corte de pelo de hombre" [class.card__img]="!is_product" [class.card__img--chica]="is_product">
        </div>
        <div class="card__conatinerText">
            <app-title [h]="'h2'" [title]="title"></app-title>
            <div class="card__containerInfo" *ngIf="is_product">
                <p class="card__text">Precio: $7.000</p>
                <p class="card__text">marca: Pantenn</p>
            </div>
        </div>
    </div>
</div>