<div class="social">
    <div class="social__container">
        <app-title [h]="'h3'" [title]="'Nuestras Redes'"></app-title>
        <div class="social__containerNetworks">
            <div class="social__containerIcon">
                <a class="social__link" href="https://www.instagram.com/ladybarbeer/">
                    <img class="social__icon" src="icons/instagram.svg" alt="icono instagram">
                </a>
            </div>
            <div class="social__containerIcon">
                <a class="social__link" href="">
                    <img class="social__icon" src="icons/whatsapp.svg" alt="icono whatsapp">
                </a>
            </div>
        </div>
    </div>
</div>