@media (min-width: 0) {
  .social {
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .social__container, .social__containerIcon {
    width: 80%;
    background-color: transparent;
    border: 2px solid #970597;
    border-radius: 6px;
    filter: drop-shadow(0 0 15px #970597);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social__containerNetworks {
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
  .social__containerIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .social__icon {
    color: white;
    background-color: #970597;
  }
}
