<footer class="footer">
    <div class="footer__container">
        <div class="footer__containerLogo">
            <img  class="footer__logo"src="logos/giulibarberLogo.png" alt="logoBarber">
        </div>
        <div class="footer__containerRights">
            <p class="footer__text">
                <span>© GiuliBarber</span>
                <br>
                <span>Derechos reservados.</span>
            </p>
        </div>
        <div class="footer__containerLogoJS">
            <img class="footer__logoJS" src="logos/logoOficialJsDeveloper.png" alt="logoJS">
            <p class="footer__textJS">Creada por</p>
        </div>
    </div>
</footer>