<div class="store">
    <div class="store__container">
        <app-card [image]="'images/pantene.jpg'" [title]="'Shampoo Pantene'" [is_product]="true"></app-card>
        <app-card [image]="'images/pantene.jpg'" [title]="'Shampoo Pantene'" [is_product]="true"></app-card>
        <app-card [image]="'images/pantene.jpg'" [title]="'Shampoo Pantene'" [is_product]="true"></app-card>
        <app-card [image]="'images/pantene.jpg'" [title]="'Shampoo Pantene'" [is_product]="true"></app-card>
        <app-card [image]="'images/pantene.jpg'" [title]="'Shampoo Pantene'" [is_product]="true"></app-card>
    </div>
</div>