@media (min-width: 0) {
  .app__containerPage {
    width: 100%;
    min-height: 80vh;
    padding-inline: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, #970597e8, #020202);
  }
}
