@media (min-width: 0) {
  .myslider {
    width:  100vw;
    height: 350px;
    position: relative;
  }
  .myslider__btnLeft,
  .myslider__btnRight {
    border-radius: 6px;
    border: 1px solid violet;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0 0 15px #970597);
  }
  .myslider__btnLeft {
    left: 5%;
  }

  .myslider__btnRight {
    right: 5%;
  }
  .myslider__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
