@media (min-width: 0) {
  .myslider {
    width: 100vw;
    position: relative;
    overflow: hidden;
  }
  .myslider__btnLeft,
  .myslider__btnRight {
    border-radius: 6px;
    border: 1px solid violet;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0 0 15px #970597);
    z-index: 10000;
  }
  .myslider__btnLeft {
    left: 5%;
  }

  .myslider__btnRight {
    right: 5%;
  }
  .myslider__content {
    display: flex;
    transition: transform 1.5s ease;
    width: 100%; 
  }
  ::ng-deep app-card {
    flex: 0 0 100%;
    width: 100%; 
  }
}
