<div class="services">
    <div class="services__container">
        <app-card [image]="'images/cortedepelo1.jpg'" [title]="'Corte de Pelo'" ></app-card>
        <app-card [image]="'images/cortedepelo1.jpg'" [title]="'Corte de Pelo'" ></app-card>
        <app-card [image]="'images/cortedepelo1.jpg'" [title]="'Corte de Pelo'" ></app-card>
        <app-card [image]="'images/cortedepelo1.jpg'" [title]="'Corte de Pelo'" ></app-card>
        <app-card [image]="'images/cortedepelo1.jpg'" [title]="'Corte de Pelo'" ></app-card>
    </div>
</div>